body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #b67616;
}

nav a {
    color:#438559;
}

nav {
    display:flex;
    justify-content: space-around;
    font-size:20pt;
}

#navLeft {
    display: flex;
    justify-content: space-around;
    width:67%;
}

#navRight {
    display: flex;
    justify-content: right;
    width:33%;
}

nav, main {
    margin:.5em;
    padding: 1em;
    background-color:#b6ad86;
}

main {
    font-size:16pt;
}

table,th,td {
    font-size:14pt;
    color:white;
    border:1px solid #344349;
    border-collapse: collapse;
}

th,td {
    padding:.5em;
}

th {
    border-width: 1px 1px 5px 1px;
}

tr:nth-child(1) {
    background-color: #2e5829;
}

tr:nth-child(even) {
    background-color: #eb9564;
}

button {
    padding:.5em;
    background-color: #9e6422;
    color:white;
    border-style: none;
    border-radius: .60em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
}

button:hover {
    color:#ccffd0;
    background-color: #879e84;
    box-shadow: 0px 3px #313f12;
}

#adopt3 {
    background-color:rgb(80, 67, 155);
}
